<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= to_currency(@product.price) %></dd>
          <dt>HST Price</dt>
          <dd><%= to_currency(@product.price_hst) %></dd>
          <br>
          <dt></dt>
          <dd>  <!-- products_path is the value of the helper function products_path -->
            <%= link_to 'Back to Homepage', products_path %>
          </dd>
            <!-- Could also do:
            <a href="<%= products_path %>">
              Back To Homepage
            </a> -->
        </dl>

      </div>
    </div>

  </article>

</section>
